.banner {
    background-image: url("assets/git.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 2%;
}

.chart {
    width: 75%;
}

@media screen and (max-width: 540px) {
    .chart {
        width: 85%;
    }
}